html {
    box-sizing: border-box;
    color: whitesmoke;
    margin: 0;

}

* {
    box-sizing: inherit;
}

#outer {
    width: 200px;
    height: 200px;
    background-color: blue;
}

#inner {
    width: 150px;
    height: 100px;
    background-color: rgb(90, 3, 3);
}

#circle {
    height: 200px;
    width: 200px;
    background-color: green;
    border-radius: 50%;
}

#extra {
    height: 100px;
    width: 100px;
}

#navbar {
    height: 60px;
    width: 100%;
    background-color: black;
    border: white;
    gap: 200px;
}

#logo {
    color: #f08804;
    font-size: 25px;
    text-align: left;
}

a {
    margin-right: 200px;
}

button {
    color: #f08804;
}

.contentbox {
    height: 200px;
    width: 200px;
    background-color: blueviolet;
}

footer {
    
}